<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yykj.ddkc.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.yykj.ddkc.entity.Goods" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="sales_price" property="salesPrice" jdbcType="DECIMAL" />
    <result column="quanity" property="quanity" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="BIGINT" />
    <result column="sales_counts" property="salesCounts" jdbcType="BIGINT" />
    <result column="total_sales_price" property="totalSalesPrice" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="upate_time" property="upateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectAllPage" resultType="com.yykj.ddkc.response.GoodsResponse">
SELECT
	tg.*,
	ts.`name` shopName
FROM
	`t_goods` tg
	LEFT JOIN t_shop ts ON tg.shop_id = ts.id
WHERE
      ts.status !=2
    <if test="createId !=null">
          and ts.create_id=#{createId}
    </if>
	<if test="goodsName !=null">
    and  tg.goods_name like #{goodsName}
    </if>
    <if test="shopName !=null">
      and ts.name like #{shopName}
    </if>
    <if test="shopId !=null">
      and ts.id =#{shopId}
    </if>
    <if test="goodsId !=null">
        and tg.id=#{goodsId}
    </if>
  </select>

    <update id="updateSalesCount" >
        update t_goods tg set tg.sales_counts=ifnull(tg.sales_counts,0)+#{counts}
        where tg.id=#{goodsId}
    </update>
</mapper>