<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yykj.ddkc.dao.ShopLoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.yykj.ddkc.entity.ShopLoginLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="login_times" property="loginTimes" jdbcType="TIMESTAMP" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="devices" property="devices" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectAllPage" resultType="com.yykj.ddkc.response.ShopLoginLogResponse">
SELECT ts.id,
ts.contact  realName,
ts.phone account,
tsl.login_times loginTime,
tsl.address ,
tsl.province,
tsl.login_ip loginIp
FROM t_shop_login_log tsl left join t_shop ts on ts.id=tsl.shop_id
where 1=1
<if test="keyword !=null">
  and ts.contact like #{keyword} or ts.phone like #{keyword}
</if>
order by tsl.login_times desc
  </select>
</mapper>