<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yykj.ddkc.dao.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.yykj.ddkc.entity.Shop" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cert" property="cert" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="avastar" property="avastar" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="DECIMAL" />
    <result column="lng" property="lng" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="cover" property="cover" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="total_sales" property="totalSales" jdbcType="DECIMAL" />
    <result column="total_sales_counts" property="totalSalesCounts" jdbcType="BIGINT" />
    <result column="buss_start_time" property="bussStartTime" jdbcType="VARCHAR" />
    <result column="buss_end_time" property="bussEndTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectByLatAndLng" resultType="com.yykj.ddkc.response.ShopResponse">
  	SELECT
		ts.*,
		ROUND(
	        6378.138 * 2 * ASIN(
	            SQRT(
	                POW(
	                    SIN(
	                        (
	                             #{lat} * PI() / 180 - lat * PI() / 180
	                        ) 
	                    ),
	                    2
	                ) + COS(#{lat} * PI() / 180) * COS(lat * PI() / 180) * POW(
	                    SIN(
	                        (
	                            #{lng} * PI() / 180 - lng * PI() / 180
	                        ) 
	                    ),
	                    2
	                )
	            )
	        ) * 1000
	    ) AS distance
	FROM
		t_shop ts 
	WHERE
		ts.status = 0
	HAVING
 		distance <![CDATA[ < ]]> #{distance}
	ORDER BY
		distance ASC
  </select>
  
  <select id="selectByKeyword" resultType="com.yykj.ddkc.response.ShopResponse">
  	SELECT
		ts.*,
		ROUND(
	        6378.138 * 2 * ASIN(
	            SQRT(
	                POW(
	                    SIN(
	                        (
	                             #{lat} * PI() / 180 - lat * PI() / 180
	                        ) 
	                    ),
	                    2
	                ) + COS(#{lat} * PI() / 180) * COS(lat * PI() / 180) * POW(
	                    SIN(
	                        (
	                            #{lng} * PI() / 180 - lng * PI() / 180
	                        ) 
	                    ),
	                    2
	                )
	            )
	        ) * 1000
	    ) AS distance
	FROM
		t_shop ts 
	WHERE
		ts.status = 0
		<if test="keyword != null">
			and ts.estate like #{keyword}
		</if>
		<if test="id != null">
			and ts.id = #{id}
		</if>
	ORDER BY
		distance ASC
  </select>
  <update id="updateAllBalance" >
	  call refresh_balance(#{dateStr});
  </update>
	<select id="selectShopHistogramResponse" resultType="com.yykj.ddkc.response.ShopHistogramResponse">
	SELECT DATE_FORMAT(ts.create_time,'%d') dayDate ,count(ts.id) shopCount FROM t_shop ts
    where
    DATE_FORMAT(ts.create_time,'%Y-%m')=#{newDate}
    and ts.status !=2
    <if test="createId !=null">
		and ts.create_id=#{createId}
	</if>
    GROUP BY DATE_FORMAT(ts.create_time,'%d')
	</select>
</mapper>