<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yykj.ddkc.dao.WithDrawMapper" >
  <resultMap id="BaseResultMap" type="com.yykj.ddkc.entity.WithDraw" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="trans_number" property="transNumber" jdbcType="VARCHAR" />
    <result column="with_draw_price" property="withDrawPrice" jdbcType="DECIMAL" />
    <result column="charge_price" property="chargePrice" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="fail_msg" property="failMsg" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="wechat_charge_price" property="wechatChargePrice" jdbcType="DECIMAL" />
    <result column="wechat_trans_number" property="wechatTransNumber" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="success_time" property="successTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectByDate" resultType="com.yykj.ddkc.entity.WithDraw">
    select * from t_withdraw tww where tww.shop_id=#{shopId}
    <if test="cashOutDate != null">
      and date_format(tww.success_time,'%Y-%m-%d')=#{cashOutDate}
    </if>
  </select>

  <select id="selectAllByDateStr" resultType="com.yykj.ddkc.response.WithDrawResponse">
select date_format(tw.create_time,'%Y-%m-%d') dateStr,
count(tw.id) shopCount,
ifnull(sum(tw.with_draw_price),0) amount,
count(case when tw.`status`=1 then tw.id end )  successShopCount,
ifnull(sum(case when tw.`status`=1 then tw.with_draw_price else 0 end),0) successAmount

from t_withdraw tw left join t_shop ts on ts.id=tw.shop_id
where ts.status !=2
    <if test="createId !=null">
        and ts.create_id=#{createId}
    </if>
    <if test="startTime !=null and endTime !=null">
      and  date_format(tw.create_time,'%Y-%m-%d')>=#{startTime}
      and  date_format(tw.create_time,'%Y-%m-%d' )<![CDATA[<=]]>#{endTime}
    </if>
group by date_format(tw.create_time,'%Y-%m-%d')
order by date_format(tw.create_time,'%Y-%m-%d') desc
  </select>

  <select id="selectShopWithDraw" resultType="com.yykj.ddkc.response.ShopWithDrawResponse">
    select date_format(tw.create_time,'%Y-%m-%d') dateStr,
date_format(tw.create_time,'%h:%m') timeStr,
ts.`name` shopName,
tw.shop_id shopId,
tw.with_draw_price amount,
tw.`status`
from t_withdraw tw left join t_shop ts on ts.id=tw.shop_id
where ts.status !=2
    <if test="startTime !=null and endTime !=null">
      and  date_format(tw.create_time,'%Y-%m-%d')>=#{startTime}
      and  date_format(tw.create_time,'%Y-%m-%d' )<![CDATA[<=]]>#{endTime}
    </if>
    <if test="shopName !=null">
      and  ts.`name` like #{shopName}
    </if>
    <if test="shopId !=null" >
      and tw.shop_id=#{shopId}
    </if>
  </select>
    <select id="selectPlatformWithDrawResponse" resultType="com.yykj.ddkc.response.PlatformWithDrawResponse">
select
DATE_FORMAT(tw.success_time,'%Y-%m-%d') dateStr
,count(1) shopCount
,sum(tw.with_draw_price) amount

from t_withdraw tw left join t_shop ts on ts.id=tw.shop_id

where
 tw.status !=2
 <if test="createId !=null">
 and ts.create_id=#{createId}
 </if>
and DATE_FORMAT(tw.success_time,'%Y-%m-%d')>=#{startTime}
and DATE_FORMAT(tw.success_time,'%Y-%m-%d')<![CDATA[<=]]>#{endTime}
GROUP BY
	DATE_FORMAT( tw.success_time, '%Y-%m-%d' )
ORDER BY
	DATE_FORMAT( tw.success_time, '%Y-%m-%d' ) DESC
    </select>
</mapper>