<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yykj.business.dao.AgreementMapper">
  <resultMap id="BaseResultMap" type="com.yykj.business.entity.Agreement">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deposit" jdbcType="DECIMAL" property="deposit" />
    <result column="agreement_strat_time" jdbcType="TIMESTAMP" property="agreementStratTime" />
    <result column="agreement_end_time" jdbcType="TIMESTAMP" property="agreementEndTime" />
    <result column="degree" jdbcType="INTEGER" property="degree" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <select id="selectAgreementByAreaId" resultType="com.yykj.business.entity.Agreement">
    SELECT
	tg.*
FROM
	t_agreement tg
	LEFT JOIN r_area_agreement raa ON tg.id = raa.agreement_id
WHERE
	raa.area_id =#{areaId}
  </select>
    <select id="selectAgreementResponse" resultType="com.yykj.business.response.AgreementResponse">
        SELECT
        tgg.*,
        ta.`name` areaName,
        if(7>timestampdiff(day,DATE_FORMAT(NOW(), '%Y-%m-%d'),DATE_FORMAT(tgg.agreement_end_time, '%Y-%m-%d')),0,1) repo
        FROM
        t_area ta
        left join r_area_agreement raa  on ta.id=raa.area_id
        left join 	t_agreement tgg on raa.agreement_id=tgg.id
        WHERE
        ta.creator_id=#{userId}
        and tgg.`status`=0
        and ta.`status`=0
<if test="startTime != null">
    and	tgg.agreement_strat_time >= #{startTime}
</if>
<if test="endTime !=null">
    and  tgg.agreement_end_time &lt;=#{endTime}
</if>
<if test="areaName !=null ">
    and (ta.name like #{areaName})
</if>
        ORDER BY  tgg.agreement_end_time
    </select>
    <select id="selectCheckAgreement" resultType="java.lang.Integer">
SELECT
	count(0)
FROM
 r_area_agreement raa
left join 	t_agreement tgg on raa.agreement_id=tgg.id and tgg.`status`=0
WHERE
tgg.creator_id=#{userId}
and raa.area_id=#{areaId}
    </select>
    <select id="selectAgreement" resultType="com.yykj.business.entity.Agreement">
        SELECT
	tgg.*
FROM
 r_area_agreement raa
left join 	t_agreement tgg on raa.agreement_id=tgg.id
WHERE
tgg.creator_id=#{userId}
and raa.area_id=#{areaId}
    </select>
</mapper>