<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yykj.business.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="com.yykj.business.entity.Area">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="block" jdbcType="VARCHAR" property="block" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="room_number" jdbcType="INTEGER" property="roomNumber" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <select id="selectAreaListByUserId" resultType="com.yykj.business.response.AreaResonse">
    SELECT
	ta.*,
	bl.`name` bigLandlordName
FROM
	t_area ta
	LEFT JOIN big_landlord bl ON bl.id = ta.big_landlord_id
	AND bl.`status` = 0
WHERE
	ta.creator_id =#{userId}
	AND ta.`status` =0
    <if test="areaName != null">
    and (ta.name like #{areaName})
    </if>
    <if test="unitName != null">
      and (ta.unit like #{unitName})
    </if>
    <if test="bigLandlordId != null">
      and ta.big_landlord_id = #{bigLandlordId}
    </if>
    order by id desc
  </select>

    <select id="selectAreaAgreeResponse" resultType="com.yykj.business.response.AreaAgreeResponse">
 SELECT
	tgg.id agreementId,
	tgg.status agreementStatus,
	tgg.deposit,
	tgg.agreement_strat_time,
	tgg.agreement_end_time,
	tgg.degree,
	tgg.remark,
	tgg.pay_type,
	taa.*
FROM
 r_area_agreement raa
left join 	t_agreement tgg on raa.agreement_id=tgg.id and tgg.status =0
left join t_area taa on raa.area_id=taa.id
WHERE
tgg.creator_id=#{userId}
and raa.area_id=#{areaId}
and taa.`status`=0
    </select>
</mapper>