<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yykj.business.dao.RentManageMapper">
  <resultMap id="BaseResultMap" type="com.yykj.business.entity.RentManage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="last_pay_time" jdbcType="TIMESTAMP" property="lastPayTime" />
    <result column="next_pay_time" jdbcType="TIMESTAMP" property="nextPayTime" />
    <result column="rent_cost" jdbcType="DECIMAL" property="rentCost" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <select id="selectRentManage" resultType="com.yykj.business.entity.RentManage">
    select rm.* from r_rent_area rra left join rent_manage rm on rm.id=rra.rent_manage_id
where rra.area_id=#{areaId}
and rm.`status`=1
ORDER BY rm.create_time desc
  </select>

  <select id="selectRentManageService" resultType="com.yykj.business.response.RentManageRoomResponse">
    SELECT
	ta.`name` areaName,
	ta.block,
	ta.unit,
	ta.room_number roomNumber,
	tm.type,
	tm.id roomId,
	rm.* ,
	  if(7>timestampdiff(day,DATE_FORMAT(NOW(), '%Y-%m-%d'),DATE_FORMAT(rm.next_pay_time, '%Y-%m-%d')),0,1) repo
FROM
	t_room tm
	LEFT JOIN r_rent_manage_room rrmr ON tm.id = rrmr.room_id
	LEFT JOIN rent_manage rm ON rm.id = rrmr.rent_manage_id
	LEFT JOIN t_area ta ON ta.id = tm.area_id
	where tm.`status`=0 and rm.`status`=0 and ta.`status`=0
	and tm.creator_id=#{userId}
	ORDER BY rm.next_pay_time
  </select>
    <select id="selectRentManageRoomResponse" resultType="com.yykj.business.response.RentManageRoomResponse">
      SELECT
	ta.`name`,
	ta.block,
	ta.unit,
	ta.room_number,
	tm.type,
	rm.*
FROM
	t_room tm
	LEFT JOIN r_rent_manage_room rrmr ON tm.id = rrmr.room_id
	LEFT JOIN rent_manage rm ON rm.id = rrmr.rent_manage_id
	LEFT JOIN t_area ta ON ta.id = tm.area_id
	where
	tm.id=#{roomId} and rm.id=#{rentManageId}
	and tm.`status`=0 and rm.`status`=0 and ta.`status`=0
	and tm.creator_id=#{userId}
    </select>
    <select id="selectRentRentManageAreaResponse" resultType="com.yykj.business.response.RentManageAreaResponse">
 SELECT
	ta.`name` areaName,
	ta.block,
	ta.unit,
	ta.room_number roomNumber,
	ta.id areaId,
	rm.* ,
	  if(7>timestampdiff(day,DATE_FORMAT(NOW(), '%Y-%m-%d'),DATE_FORMAT(rm.next_pay_time, '%Y-%m-%d')),0,1) repo
FROM
	t_area ta
	LEFT JOIN r_rent_area rrmr ON ta.id = rrmr.area_id
	LEFT JOIN rent_manage rm ON rm.id = rrmr.rent_manage_id
	where  rm.`status`=0 and ta.`status`=0
	and ta.creator_id=#{userId}
	ORDER BY rm.next_pay_time
    </select>
	<select id="selectOneRentManageAreaResponse" resultType="com.yykj.business.response.RentManageAreaResponse">
		 SELECT
	ta.`name` areaName,
	ta.block,
	ta.unit,
	ta.room_number roomNumber,
	ta.id areaId,
	rm.*
FROM
	t_area ta
	LEFT JOIN r_rent_area rrmr ON ta.id = rrmr.area_id
	LEFT JOIN rent_manage rm ON rm.id = rrmr.rent_manage_id
	where  ta.id=#{areaId} and rm.id=#{rentManageId}
	and rm.`status`=0 and ta.`status`=0
	</select>
</mapper>