<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yykj.business.dao.RoomMapper">
  <resultMap id="BaseResultMap" type="com.yykj.business.entity.Room">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="is_null" jdbcType="TINYINT" property="isNull" />
    <result column="tenant_nember" jdbcType="INTEGER" property="tenantNember" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="key_path" jdbcType="VARCHAR" property="keyPath" />
  </resultMap>
  <select id="selectRoomListByUserId" resultType="com.yykj.business.response.RoomAreaRepsonse">
    SELECT
	tr.*, ta.`name` areaName,ta.unit unitName,ta.room_number,ta.block
FROM
	t_room tr
	LEFT JOIN t_area ta ON tr.area_id = ta.id
where tr.creator_id=#{userId}
and tr.status=0 and ta.status=0
<if test="areaId !=null">
      and ta.id=#{areaId}
</if>
<if test="areaName != null">
  and  ta.`name` like #{areaName}
</if>
<if test="unitName != null">
      and  ta.`unit` like #{unitName}
</if>
ORDER BY tr.id desc

  </select>
</mapper>