<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yykj.system.dao.SystemRoleMapper">
	<resultMap id="BaseResultMap" type="com.yykj.system.entity.SystemRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createtime" jdbcType="BIGINT" property="createtime" />
    <result column="last_update_creator" jdbcType="VARCHAR" property="lastUpdateCreator" />
    <result column="last_update_createtime" jdbcType="BIGINT" property="lastUpdateCreatetime" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
	<select id="getRoleByUserId" resultMap="BaseResultMap"
		parameterType="int">
		select * from t_sys_role
		where id in (
		select role_id from
		r_sys_role_user
		where
		r_sys_role_user.uid=#{uid}
		)
	</select>


	<select id="selectResourceListByRoleIdList" resultType="com.yykj.system.entity.SystemResource"
            parameterType="java.lang.Integer">
        SELECT
            DISTINCT s.id AS id,
            s.resource_name AS 'resourceName',
            s.resource_url AS resourceUrl,
            s.is_basic AS isBasic,
            s.parent_id AS parentId,
            s.level AS level,
            s.remark AS remark,
            s.status AS 'status',
            s.resource_kind AS resourceKind,
            s.resource_type as resourceType,
            s.seq AS seq,
            s.open_mode AS openMode,
            s.opened AS opened,
            s.icon AS icon
        FROM
            t_sys_role r
        LEFT JOIN r_sys_role_resource e ON r.id = e.role_id
        LEFT JOIN t_sys_resource s ON e.resource_id = s.id
        WHERE
            r.id in  
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
                #{item}
            </foreach>
        AND s.resource_type = 0
        AND s.status = 0
        AND s.parent_id != -1
        ORDER BY seq
    </select>

    <select id="selectAllByKeyword" resultType="com.yykj.system.entity.SystemRole">
        select * from t_sys_role tsr
        where 1=1
        <if test="keyword !=null">
          and  tsr.role_name  like #{keyword}
        </if>
    </select>
</mapper>