<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yykj.system.dao.SystemUserMapper">
	<resultMap id="userMap" type="com.yykj.system.entity.SystemUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createtime" jdbcType="BIGINT" property="createtime" />
    <result column="login_Times" jdbcType="INTEGER" property="loginTimes" />
    <result column="last_Login_Time" jdbcType="BIGINT" property="lastLoginTime" />
    <result column="last_Login_Ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
	<select id="getUserEntityListInRid" resultMap="userMap"
		parameterType="map">
		select * from t_sys_user where id in (select
		distinct
		r_sys_role_user.uid from
		r_sys_role_user where
		r_sys_role_user.role_id=#{roleid})
	</select>
	<select id="getUsersListInRids" resultMap="userMap"
		parameterType="map">
		select * from t_sys_user where id in (select
		distinct
		r_sys_role_user.uid from
		r_sys_role_user where
		r_sys_role_user.role_id in (
		<foreach collection="roleList" item="rid" index="index"
			separator=",">
			<trim suffixOverrides=",">
				#{rid,jdbcType=INTEGER}
			</trim>
		</foreach>
		))
		<if test="limitFrom!=null &amp;&amp; limitTo != null">
			<![CDATA[ limit #{limitFrom},#{limitTo}]]>
		</if>
	</select>
	<select id="getUserEntityListNotInRid" resultMap="userMap"
		parameterType="map">
		select u.id as id,u.name as name,u.password as
		password,u.real_name as
		realName,u.status as
		status
		,u.creator as
		creator,u.create_time as
		createTime,u.login_Times as
		login_Times,u.last_Login_Ip as
		last_Login_Ip,u.last_Login_Time as
		last_Login_Time,u.phone as phone from t_sys_user u where u.status=0 and u.id
		not
		in (select
		r_sys_role_user.uid
		from r_sys_role_user where
		r_sys_role_user.role_id=#{roleid})
	</select>
	<select id="getUserCountInRids" resultType="int">
		select count(*) from t_sys_user where id in (select
		distinct
		r_sys_role_user.uid
		from
		r_sys_role_user where
		r_sys_role_user.role_id in (
		<foreach collection="roleList" item="rid" index="index"
			separator=",">
			<trim suffixOverrides=",">
				#{rid,jdbcType=INTEGER}
			</trim>
		</foreach>
		))
		<if test="userName != null">
			<![CDATA[ name like ${userName}]]>
		</if>
	</select>
	<select id="getUserListByNoAdmin" resultMap="userMap">
		SELECT
			*
		FROM
			t_sys_user
		WHERE
			id NOT IN (
				SELECT DISTINCT
					uid
				FROM
					r_sys_role_user
				WHERE
					role_id IN (
						SELECT
							id
						FROM
							t_sys_role
						WHERE
							role_name = 'administrator'
					)
			)
			<if test="name != null and name != '' ">
				and (
					name like CONCAT('%', #{name} ,'%')
					or phone like CONCAT('%', #{name} ,'%')
					or real_name like CONCAT('%', #{name} ,'%')
				)
			</if>
	</select>
</mapper>